@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --primary: #F87171;
    --black: #333333;
    --width-break: 600px
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
}

header {
    background-color: var(--primary);
    text-align: center;
    padding: 0.5rem;
}

section {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

#text-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 10vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    display: block;
}

#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
    width: 100%auto;
}

.footer-heading {
    font-size: x-large;
}


/** @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
:root {
    --primary-color: #F87171;
    --width-break: 600px
}

body {
    margin: 0px;
    font-family: 'Caveat', cursive;
}

header {
    text-align: center;
    background-color: var(--primary-color);
    padding: 0.8rem;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-top: .2rem;
    padding-bottom: 1rem;
    font-size: 22px;
    font-weight: bolder;
}

footer p {
    max-width: 1300px;
    max-height: fit-content;
    margin: auto;
}

.content {
    margin: auto;
    max-width: 600px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.output-headline {
    margin: 1rem 0rem;
    font-weight: bold;
    font-size: x-large;
}

textarea {
    box-sizing: border-box;
    display: block;
    font-size: x-large;
    font-weight: bold;
    min-height: 15vh;
    margin: 1rem 0rem;
    width: 100%;
}

#output {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    min-height: 10vh;
    max-height: 30vh;
    width: 100%;
    margin: 1rem 0rem;
    font-weight: bolder;
    overflow: scroll;
    font-size: 20px;
}

#btn-translate {
    background-color: var(--primary-color);
    margin: 1rem 0rem;
    padding: 0.5rem 1.5rem;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

**/